@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import "tailwindcss";
@plugin "daisyui";


@theme {
    --font-rancho: "Rancho", "cursive";
}

.navStyle .active{
    border: 1px solid green;
}

.spin {
    animation: spin 50s linear infinite;
    transform-origin: center;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}